.log-error {
  color: $red;
  font-weight: bold
}

.log-info {
  color: $blue;
  font-weight: bold
}

.log-warning {
  color: $orange;
  font-weight: bold
}

.log-debug {
  color: $green;
  font-weight: bold
}